* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

header {
	background-color: rgb(237, 237, 237);
	padding: 1.5rem 5rem;
}

main {
	margin-top: 1rem;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
